<section class="background-container" id="top">
  <div class="triangle"></div>
  <div class="me">
    <h2>Projects</h2>
  </div>
</section>

<section class="project">
  <h3>Gwent Chest</h3>

  <div class="description">
    <p>
      <strong>Gwent Chest</strong> is an online deckbuilder and deck catalogue
      for the digital collectible card game
      <a href="https://www.playgwent.com/en/" class="hvr-underline-from-left"
        >Gwent</a
      >. Users can browse a catalogue of decks other users have submitted to
      find new ideas for their own decks. Or users can create their own decks
      and save them on Gwent Chest so others users can try it in-game.
    </p>
    <p>
      Angular is used for the front-end, with Node.js and Express.js being used
      in the back-end. Authentication is handled by JSON Web Tokens (JWT) with
      Bcrypt being utilised to perform the hashing and salting of passwords.
      MongoDB is used as the database, with Mongoose and Joi being used for
      defining the structure and validating the JSON data before it reaches the
      database.
    </p>
  </div>

  <a href="https://github.com/AlexanderDesmond/Gwent-Chest">
    <button mat-raised-button><span>View on GitHub</span></button>
  </a>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_775TpI--SU"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>

<section class="project">
  <h3>ImageBoardy McImageBoardFace</h3>

  <div class="description">
    <p>
      A web application which allows users to create and reply to posts; except
      all posts and comments must be images. So, basically reddit except
      exclusively for images.
    </p>
    <p>
      The front-end was created with Angular, while Node.js and Express.js were
      used in the back-end. MongoDB was used for the database.
    </p>
  </div>

  <a href="https://github.com/AlexanderDesmond/UnemployedSamurai">
    <button mat-raised-button><span>View on GitHub</span></button>
  </a>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/igdZbyFbkVU"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>

<section class="project">
  <h3>Nutty Friends!</h3>

  <div class="description">
    <p>
      <strong>Nutty Friends!</strong> is a story-based mobile game which
      utilises augmented reality (AR) to raise awareness of the nutritional
      benefits of nuts and encourage young people to incorporate them into their
      diets.
    </p>
    <p>
      The game was developed in Unity with Vuforia selected as the AR framework.
    </p>
  </div>

  <a href="https://github.com/AlexanderDesmond/NuttyFriends">
    <button mat-raised-button><span>View on GitHub</span></button>
  </a>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/O2crz9T-GNA"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>

<app-to-top></app-to-top>
