<section class="background-container" id="top">
  <div class="triangle"></div>
  <div class="me">
    <h2>Projects</h2>
  </div>
</section>

<section class="project">
  <h3>Title</h3>

  <p>Description of project.</p>

  <iframe allow="fullscreen" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>

  <button mat-raised-button><span>Project</span></button>
</section>

<section class="project">
  <h3>Title</h3>

  <p>Description of project.</p>

  <iframe allow="fullscreen" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>

  <button mat-raised-button><span>Project</span></button>
</section>

<section class="project">
  <h3>Title</h3>

  <p>Description of project.</p>

  <iframe allow="fullscreen" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>

  <button mat-raised-button><span>Project</span></button>
</section>

<app-to-top></app-to-top>
